:host {
  display: block;

  .main-nav-header {
    padding: 0 15px;
    height: 50px;
    line-height: 50px;

    @media screen and (max-width: 600px) {
      padding: 0;
    }
  }

  .cart-wrap {
    display: flex;

    i {
      height: 50px;
      line-height: 50px;
    }
  }

  .brand-logo {
    text-overflow: ellipsis;
    max-width: 40%;

    @media screen and (max-width: 700px) {
      max-width: 30%;
      overflow: hidden;
      max-height: 55px;
    }

    @media screen and (max-width: 600px) {
      max-width: 10%;
      overflow: hidden;
      max-height: 55px;
    }
  }

  .search-icon-position {
    top: -15px;
  }

  .fake-form {
    height: 100%;
    width: 30%;
    display: inline-block;

    .input-field {
      z-index: 20;

      .autocomplete-content {
        max-height: 200px;
      }
    }
  }
}
