:host {
  display: block;

  .main-nav-header {
    padding: 0 15px;
  }

  .cart-wrap {
    display: flex;
  }

  .brand-logo {
    text-overflow: ellipsis;
    max-width: 40%;

    @media screen and (max-width: 600px) {
      max-width: 20%;
      overflow: hidden;
      max-height: 55px;
    }
  }
}
