:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .container {
    padding: 20px 0px;
  }
  .card-button-wrapper {
    display: flex;
    padding: 20px 0px;
    justify-content: center
  }
  .wrapper {
    display: flex;
    .sidebar-wrapp {
      margin-right: 15px;
      width: 20%;
    }
  }
}
