:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .card-pay-wrapp {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .cart-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cart-title {
      padding: 0px 10px;
    }

    .cart-image {
      display: flex;
      align-items: center;
      width: 50%;
      img {
      height: 70px;
      }
    }
  }
  .remove-from-cart {
    color: red;
    cursor: pointer;
  }
}
