<div class="main">

  <div class="progress" *ngIf="!(cart$ | async)">
    <div class="indeterminate"></div>
  </div>

  <div class="container">

    <ng-container *ngIf="(cart$ | async) as cart">
      <div (click)="goBack()">
        <a class="waves-effect waves-light btn"><i class="material-icons left">arrow_back</i>BACK</a>
      </div>

      <ul class="collection">
        <li class="collection-item cart-items" *ngFor="let cartItem of cart?.items">
          <div class="cart-image">
            <a routerLink="/products/{{cartItem?.item?.titleUrl}}">
            <img src="{{cartItem?.item?.mainImage?.url}}">
            </a>
            <div class="cart-title">
              {{cartItem?.item.title}}
            </div>
          </div>
          <div>
            {{cartItem.qty}} ks
          </div>
          <div>
            {{cartItem.price}} €
          </div>
          <div class="remove-from-cart" (click)="removeFromCart(cartItem?.item?._id)">
            <i class="material-icons cart-icon">remove</i>
          </div>
        </li>
        <li class="collection-item cart-items">
          <div class="cart-image">
            <b>Summary</b>
          </div>
          <div>
            <b> {{cart?.totalQty}} ks </b>
          </div>
          <div>
            <b> {{cart?.totalPrice}} € </b>
          </div>
        </li>
      </ul>

      <div class="card-pay-wrapp" *ngIf="!!cart?.items?.length">
        <app-card [price]="cart?.totalPrice"> </app-card>
      </div>

    </ng-container>

    <ng-container *ngIf="(order$ | async) as order">
      <div class="pay-success" *ngIf="order.type == 'authorized' && order.seller_message == 'Payment complete.'">
        Your payment was successfull!
      </div>
    </ng-container>

  </div>

</div>
