<ng-container *ngFor="let product of products">
  <div class="card">
    <a routerLink="/products/{{product?.titleUrl}}" class="card-image" [attr.aria-labelledby]="product?.titleUrl"
    lazySrc [lazyBackground]="'url(' + product.mainImage.url + ')'"  lazySrcVisible="visible">
      <!-- <img src="{{product?.mainImage?.url}}"> -->
    </a>
    <div class="card-action">
      <h2> {{product?.title}} </h2>
      <div class="action-wrap">
        <a routerLink="/products/{{product?.titleUrl}}">Detail</a>
        <p>{{product?.stock}}</p>
        <app-cart-show
          [items]="cartIds[product?._id]"
          (add)="onAddProduct(product?._id)"
          (remove)="onRemoveProduct(product?._id)">
        </app-cart-show>
      </div>
      <!-- <app-card [price]="product?.salePrice"> </app-card> -->
      <div class="price-card">{{product?.salePrice}}€</div>
      <p>{{product?.description}}</p>
    </div>
  </div>
</ng-container>
