<app-header> </app-header>

<div class="main">

  <div class="container">

    <div class="progress" *ngIf="!(items$ | async)?.products">
      <div class="indeterminate"></div>
    </div>

    <ng-container *ngIf="(items$ | async) as items">

      <div class="products-wrapp">
        <div class="product-wrapp" *ngFor="let product of items?.products">
          <div class="card scale-transition">
            <a routerLink="/products/{{product?.titleUrl}}" class="card-image">
            <img src="{{product?.mainImage?.url}}">
          </a>
            <div class="card-content">

            </div>
            <div class="card-action">
              <h2> {{product?.title}} </h2>
              <div class="action-wrap">
                <a routerLink="/products/{{product?.titleUrl}}">Detail</a>
                <p>{{product?.stock}}</p>
                <app-cart-show [items]="items?.cartIds[product._id]" (add)="addToCart(product._id)" (remove)="removeFromCart(product._id)"></app-cart-show> 
              </div>
              <!-- <app-card [price]="product?.salePrice"> </app-card> -->
              <p>{{product?.description}}</p>
            </div>
          </div>

        </div>
      </div>
    </ng-container>

  </div>
</div>
<app-footer *ngIf="(items$ | async)?.products"> </app-footer>
