<app-header> </app-header>

<div class="container">
  <!-- <div class="card-button-wrapper">
   
  </div> -->

  <div class="progress" *ngIf="!(products$ | async)">
    <div class="indeterminate"></div>
  </div>

  <ng-container *ngIf="(products$ | async) as products">

    <div class="products-wrapp">
      <div class="product-wrapp" *ngFor="let product of products">
        <div class="card scale-transition">
          <a routerLink="/products/{{product?.titleUrl}}" class="card-image">
            <img src="{{product?.mainImage?.url}}">
          </a>
          <div class="card-content">

          </div>
          <div class="card-action">
            <h2> {{product?.title}} </h2>
            <div class="action-wrap">
              <a routerLink="/products/{{product?.titleUrl}}">Detail produktu</a>
              <p>{{product?.stock}}</p>
              <i class="material-icons cart-icon" (click)="addToCart(product._id)">add_shopping_cart</i>
              <i *ngIf="(cart$ | async)?.items[product._id]" class="material-icons cart-icon" (click)="removeFromCart(product._id)">remove_shopping_cart</i>
            </div>
            <!-- <app-card [price]="product?.salePrice"> </app-card> -->
            <p>{{product?.description}}</p>
          </div>
        </div>

      </div>
    </div>
  </ng-container>

</div>

<app-footer *ngIf="(products$ | async)"> </app-footer>
