:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  .container {
    padding: 20px 15px;
  }
  .card-button-wrapper {
    display: flex;
    padding: 20px 0px;
    justify-content: center
  }
  .products-wrapp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .wrapper {
    display: grid;
    display: -ms-grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 200px 1fr;
    -ms-grid-columns: 200px 1fr;
    grid-column-gap: 15px;

    .main-wrap {
      grid-area: main;

      .category-title {
        margin: 0;
      }
    }

    .sidebar-wrap {
      grid-area: sidebar;
    }

    @media screen and (max-width: 600px) {
      grid-template-areas: "sidebar" "main";
      grid-template-columns: auto;

      .main-wrap {
        grid-area: main;
      }

      .sidebar-wrap {
        grid-area: sidebar;
      }
    }
  }
}
