<div class="main">
  <div class="container">

    <div class="progress" *ngIf="!(items$ | async)?.products">
      <div class="indeterminate"></div>
    </div>

    <div class="wrapper" *ngIf="(items$ | async) as items">
      <div class="sidebar-wrap">
        <app-sidebar
        [categories]="categories$ | async"
        [price]="filterPrice$ | async"
        [minPrice]="items?.maxPrice"
        [maxPrice]="items?.minPrice"
        [activeCategory]="category$ | async"
        (changePrice)="priceRange($event)">
        </app-sidebar>
      </div>
      <div class="main-wrap">
        <h3 class="category-title" *ngIf="(category$ | async) as category">{{category}}</h3>
          <app-products-list
            [products]="items?.products"
            [cartIds]="items?.cartIds"
            (addProduct)="addToCart($event)"
            (removeProduct)="removeFromCart($event)">
          </app-products-list>

          <ul class="pagination" *ngIf="!(category$ | async) && (pagination$ | async) as pagination">
            <ng-container *ngIf="(page$ | async) as page">
                <li [class.disabled]="page == 1">
                  <a class="clickable" (click)="changePage(page - 1)"><i class="material-icons">chevron_left</i></a>
                </li>
            </ng-container>
            <ng-container *ngIf="!(page$ | async)">
                <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
            </ng-container>
              <li class="waves-effect" *ngFor="let page of pagination.range"
              [class.active]="pagination.page === page"><a (click)="changePage(page)">{{ page }}</a>
              </li>
              <li class="clickable" [class.disabled]="(page$ | async) == pagination.pages">
                <ng-container *ngIf="(page$ | async) as page">
                    <a (click)="changePage(page + 1)"><i class="material-icons">chevron_right</i></a>
                </ng-container>
                <ng-container *ngIf="!(page$ | async)">
                    <a (click)="changePage(2)"><i class="material-icons">chevron_right</i></a>
                </ng-container>
              </li>
          </ul>

          <ng-container *ngIf="(category$ | async) as category">

            <ul class="pagination" *ngIf="(categoriesPagination$ | async)?.category as pagination">
              <ng-container *ngIf="(page$ | async) as page">
                  <li [class.disabled]="page == 1">
                    <a class="clickable" (click)="changePage(page - 1)"><i class="material-icons">chevron_left</i></a>
                  </li>
              </ng-container>
              <ng-container *ngIf="!(page$ | async)">
                  <li class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
              </ng-container>
                <li class="waves-effect" *ngFor="let page of pagination.range"
                [class.active]="pagination.page === page"><a (click)="changePage(page)">{{ page }}</a>
                </li>
                <li class="clickable" [class.disabled]="(page$ | async) == pagination.pages">
                    <ng-container *ngIf="(page$ | async) as page">
                        <a (click)="changePage(page + 1)"><i class="material-icons">chevron_right</i></a>
                    </ng-container>
                    <ng-container *ngIf="!(page$ | async)">
                        <a (click)="changePage(2)"><i class="material-icons">chevron_right</i></a>
                    </ng-container>
                  </li>
            </ul>

        </ng-container>

      </div>
    </div>

  </div>
</div>
