:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .container {
    padding: 20px 0px;
  }
  .card-button-wrapper {
    display: flex;
    padding: 20px 0px;
    justify-content: center
  }
  .products-wrapp {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .wrapper {
    display: flex;
    @media screen and (max-width: 600px) {
      flex-flow: wrap;
    }
    .sidebar-wrapp {
      margin-right: 15px;
      width: 20%;
      @media screen and (max-width: 600px) {
        width: 100%;
        margin-left: 15px;
      }
    }
  }
}
