:host {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .container {
    @media screen and (max-width: 600px) {
      padding: 0px !important;
    }
  }
  .card-content {
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      flex-flow: wrap;
    }
    
    h4 {
      font-size: 20px;
      line-height: 22px;
      padding-right: 10px;
    }
    .product-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 20px 0px;
      .stock {
        font-size: 16px;
        color: #1de9b6;
      }
      .price {
        padding: 0px 100px;
        font-size: 25px;
        font-weight: 500;
      }
    }
    .tags {
      display: flex;
      justify-content: flex-start;
      padding-right: 10px;
      margin: 20px 0px;
      font-size: 16px;
    }
    .image-wrap {
      width: 50%;
      background-size: contain !important;
      min-height: 300px;
    }
  }
  .tab {
    cursor: pointer;
  }
  .cart-wrap {
    padding-right: 10px;
  }
}
