<footer class="page-footer light-blue darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Bluetooth Eshop</h5>
          <p class="grey-text text-lighten-4">Connecting without cables </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://angular-un-ngrx-node-eshop.herokuapp.com">Heroku link</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2017
      <a class="grey-text text-lighten-4 right" href="https://github.com/pararell/angular-universal-node.js-mongodb-eshop">More on github</a>
      </div>
    </div>
  </footer>